/* lato fonts */
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

/* common styles start */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: "Lato", sans-serif;
}
.primary-btn{
    background-color: rgb(229, 84, 115);
    color: rgb(255, 255, 255);
    padding: 20px 43px;
    border-radius: 8px;
    border: none;
    font-size: 20px;
    font-weight: 700;
    cursor: pointer;
}
/* common styles end */

/* header section styles start */
#header{
    width: 100%;
    height: 850px;
    background-color: rgba(229, 84, 115, 0.1);
}
.banner-container{
    width: 75%;
    height: 100%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    gap: 97px;
    padding-top: 50px;
}
.banner-text-container{
    width: 708px;
    height: 506px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}
.banner-text-container h1{
    color: rgb(39, 39, 39);
    font-size: 80px;
    font-weight: 900;
}
.banner-text-container p{
    color: rgba(39, 39, 39, 0.6);
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    margin: 32px 0;
}
.banner-image-container{
    width: 635px;
    height: 800px;
}
.banner-image-container img{
    width: 100%;
    height: 100%;
}
/* header section styles end */

/* main > our featured flower styles start */
.featured-container{
    width: 75%;
    height: 963px;
    margin: 0 auto;
    padding-top: 130px;
}
.featured-title{
    width: 594px;
    height: 132px;
    margin: 48px auto;
}
.featured-title h1{
    color: rgb(39, 39, 39);
    font-size: 40px;
    font-weight: 900;
    text-align: center;
}
.featured-title p{
    color: rgba(39, 39, 39, 0.6);
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    text-align: center;
}
.featured-flowers{
    width: 100%;
    height: 605px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}
.featured-flower{
    width: 464px;
    height: 605px;
    border-radius: 50% 50% 0 0;
    position: relative;
}
.featured-flower img{
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%);
}
.flower-1{
    background-color: rgba(167, 33, 98, 0.15);
}
.flower-2{
    background-color: rgba(5, 151, 160, 0.15);
}
.flower-3{
    background-color: rgba(71, 125, 17, 0.15);
}
.featured-flower-caption{
    height: 67px;
    display: flex;
    justify-content: space-around;
    padding-top: 32px;
    color: rgb(39, 39, 39);
    font-size: 24px;
    font-weight: 700;
    text-decoration-line: underline;
    text-decoration-thickness: 5px;
    text-decoration-color: rgba(71, 125, 17, 0.15);
}
/* main > our featured flower styles end */

/* main > service section styles start */
.service-container{
    width: 75%;
    height: 320px;
    margin: 128px auto;
    background: rgba(39, 39, 39, 0.05);
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-radius: 8px;
}
.service-col{
    width: 372px;
    height: 147px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.service-col h6{
    color: rgba(39, 39, 39, 0.8);
    font-size: 20px;
    font-weight: 600;
    margin-top: 15px;
}
/* main > service section styles end */

/* main > hot deal section styles start */
.hot-deal-container{
    width: 100%;
    height: 620px;
    background: rgba(229, 84, 115, 0.05);
    margin-bottom: 128px;
}
.hot-deal-content{
    width: 75%;
    height: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.hot-deal-text{
    width: 594px;
    height: 228px;
    text-align: center;
}
.hot-deal-text h1{
    color: rgb(39, 39, 39);
    font-size: 40px;
    font-weight: 800;
}
.hot-deal-text span{
    color: rgb(229, 84, 115)
}
.hot-deal-text p{
    color: rgba(39, 39, 39, 0.6);
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    margin-top: 24px;
    margin-bottom: 32px;
}
.hot-deal-image{
    width: 318px;
    height: 420px;
    text-align: center;
}
/* main > hot deal section styles end */

/* main > insta gallery  section styles start */
.insta-gallery-container{
    width: 1440px;
    height: 576px;
    margin: 148px auto;
}
.insta-gallery-tittle{
    width: 594px;
    height: 132px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.insta-gallery-tittle h1{
    color: rgb(39, 39, 39);
    font-size: 40px;
    font-weight: 800;
    margin-bottom: 24px;
}
.insta-gallery-tittle p{
    color: rgba(39, 39, 39, 0.6);
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    text-align: center;
}
.insta-gallery-image{
    width: 1440px;
    display: flex;
    justify-content: space-between;
    margin-top: 48px;
}
.ista-img{
    width: 342px;
    height: 396px;
}
.ista-img img{
    width: 100%;
}
/* main > insta gallery  section styles end */